body {
  background: #eef3ff;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  width: 95%;
  max-width: 600px;
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

.title {
  text-align: center;
  color: #245aff;
}

.sub-text {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.note {
  background: #fff5c4;
  padding: 10px;
  border-left: 5px solid #ffd43b;
  margin: 15px 0;
  font-size: 14px;
}

form label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.dob {
  display: flex;
  gap: 10px;
}

.checkbox {
  margin-top: 15px;
  font-size: 14px;
}

button {
  width: 100%;
  background: #245aff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}
